@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Poppins:wght@800&display=swap');

:root {
  --blue: #0379ff;
  --light-blue: #9ac9ff;
  --dark-blue: #0261cc;
  --white: #fff;
  --black: #101820;
  --blackAlpha: #10182010;
}

* {
  box-sizing: border-box;
}

body {
  margin : 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.Generate {
  font-family: 'IBM Plex Sans';
}

.g-header {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  padding-bottom: 0;
  
}

.g-h1 {
  font-family: 'Poppins';
  color: var(--blue);
  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  justify-content: left;
}

.g-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0%;
}

.g-section {
  width: 95%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 4rem;
}

button {
  font-size: 1.25rem;
  background-color: var(--blue);
  border-radius: 6px;
  border: 0;
  padding: 1rem 2rem;
  font-weight: bold;
  color: var(--white);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.download {
  background-color: var(--dark-blue);
  color: white;
  font-size: 1.25rem;
  border-radius: 6px;
  border: 0;
  padding: 1rem 2rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: right;
  text-decoration: none;
}


.g1-container {
  width: 100%;
  height: 100vh;
  margin-top: 4rem;
  padding: 0%;
}

.g1-header {
  display: flex;
  width: 100%;
  /* justify-content: center; */
  padding-bottom: 0;
  padding-top: 10px
  
}

.g1-h1 {
  font-family: 'Poppins';
  color: var(--blue);
  padding-left: 4rem;
  padding-top:6rem;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  justify-content: left;
}

.g1-section {
  width: 95%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 4rem;
}

.g1-form{
  width: 70%;
  margin: 0%;
}

.g1-label {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 1rem;
}

.g1-input1 {
  border: 0;
  padding: 0;
  display: block;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--blue);
}

.g1-input2 {
  border: 0;
  padding: 0;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: var(--blue);
}

.g1-button {
  font-size: 1.25rem;
  background-color: var(--blue);
  border-radius: 6px;
  border: 0;
  padding: 1rem 2rem;
  font-weight: bold;
  color: var(--white);
}

.img-div{
  width: 100%;
}

.g1-img{
  padding-right: 3rem;
  width: 100%;
  height: 100%;
}