
.navbar {
  /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
  background-color: #0261cc;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  max-width: 1500px;
}

.navbar-brand {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-brand:hover{
  color: black;
}

.nav-item {
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
}

.nav-links:hover {
  color: black;
  text-decoration:underline;
}

.navbar-nav{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 1rem;
}

.d-flex{
  padding-right: 15px;
}

.btn{
  color: #fff;
  font-size: 1rem;
}
